.title {
  display: grid;
  font-family: var(--font-family-secondary);
  height: calc(var(--gap-extra-big));
  place-items: center;
  width: 100%;
}

.title::after {
  align-self: flex-end;
  border-bottom: 0.4rem solid var(--color-primary);
  content: '';
  width: 70%;
}
