.about__img {
  border-radius: 50%;
  height: 18rem;
  margin: var(--gap-extra-big);
}

.about__text {
  text-align: justify;
  width: 80%;
}

.about__text:not(:last-child) {
  margin-bottom: 1rem;
}
