.presentation__img {
    z-index: 101;
    height: 18rem;
}

.presentation__text {
    width: 80%;
    margin-top: 3rem;
    text-align: justify;
}

.presentation__system {
    transform: rotateX(75deg) rotateY(-30deg);
    animation-name: system;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-style: preserve-3d;
}

.presentation__satellite {
    position: absolute;
    top: 50%;
    left: 100%;
    width: 8rem;
    margin-top: -1.5em;
    margin-left: -1.5em;
    animation-name: invert-orbit;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border-radius: 50%;
    transform-style: preserve-3d;
}

.presentation__satellite--orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30rem;
    height: 20rem;
    margin-top: -48rem;
    margin-left: -15rem;
    animation-name: orbit;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-style: preserve-3d;
}

@keyframes orbit {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes system {
    0% {
        z-index: 101;
    }
    100% {
        z-index: 100;
    }
}

@keyframes invert-orbit {
    0% {
        transform: rotateZ(360deg) rotateY(30deg) rotateX(-75deg);
    }
    100% {
        transform: rotateZ(0deg) rotateY(30deg) rotateX(-75deg);
    }
}
