.presentation__img {
  height: 20rem;
  z-index: 101;
}

.presentation__text {
  margin-top: 3rem;
  text-align: justify;
  width: 80%;
}

.presentation__system {
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: system;
  animation-timing-function: linear;
  transform: rotateX(75deg) rotateY(-30deg);
  transform-style: preserve-3d;
}

.presentation__satellite {
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: invert-orbit;
  animation-timing-function: linear;
  border-radius: 50%;
  left: 100%;
  margin-left: -1.5em;
  margin-top: -1.5em;
  position: absolute;
  top: 50%;
  transform-style: preserve-3d;
  width: 11rem;
}

.presentation__satellite--orbit {
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: orbit;
  animation-timing-function: linear;
  height: 20rem;
  left: 50%;
  margin-left: -15rem;
  margin-top: -48rem;
  position: absolute;
  top: 50%;
  transform-style: preserve-3d;
  width: 30rem;
}

@keyframes orbit {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes system {
  0% {
    z-index: 101;
  }
  100% {
    z-index: 100;
  }
}

@keyframes invert-orbit {
  0% {
    transform: rotateZ(360deg) rotateY(30deg) rotateX(-75deg);
  }
  100% {
    transform: rotateZ(0deg) rotateY(30deg) rotateX(-75deg);
  }
}
