.skills__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--gap-medium);
  place-items: center;
  padding-top: var(--gap-big);
  list-style: none;
}

.rocket {
  margin-top: var(--gap-extra-big);
  height: 13rem;
}

.rocket__text {
  font-size: calc(var(--font-size-big) * 1.3);
  font-weight: var(--font-weight-medium);
}
