.footer {
  color: var(--color-secondary);
  display: grid;
  font-family: var(--font-family-secondary);
  padding-top: var(--gap-extra-big);
  place-items: center;
  position: relative;
  width: var(--width-global);
}

.footer__content {
  display: grid;
  place-items: center;
  position: relative;
  z-index: 100;
}

.footer__background {
  fill: var(--color-background-tertiary);
  filter: drop-shadow(3px 5px 30px #2b323d);
  position: absolute;
  transform: translateY(36%);
  z-index: 99;
}

.email {
  color: var(--color-primary);
  font-size: var(--font-size-big);
}

.social {
  display: grid;
  grid-template-columns: min-content min-content;
  padding-top: var(--gap-small);
  place-items: center;
  text-align: center;
}

.social__img {
  height: 8rem;
}

.social__title {
  margin-top: -0.5rem;
}

.copyright {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-light);
  padding-top: var(--gap-medium);
}

.back-button {
  height: 5rem;
  margin: var(--gap-extra-big);
}
