*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* This defines what 1rem is */
  font-size: 62.5%; /* 1 rem = 10px; 10px/16px = 62.5% */
}

body {
  box-sizing: border-box;
  font-family: var(--font-family-primary), sans-serif;
  font-weight: var(--font-weight-medium);
  color: var(--color-secondary);
  font-size: var(--font-size-medium);
}

#root {
  display: grid;
  justify-items: center;
  grid-auto-rows: auto auto 1fr auto;
  background-color: var(--color-background-primary);
  min-height: 100vh;
  overflow: clip;
}

a {
  outline: none;
  text-decoration: none;
  color: var(--color-secondary);
}
