.section {
  display: grid;
  padding-top: var(--gap-extra-big);
  place-items: center;
  position: relative;
  z-index: 100;
}

/* Prevents 2 LinkItems to be active at same time */
.separator {
  display: block;
  height: 2px;
}
