.nav-link {
  cursor: pointer;
  display: grid;
  height: inherit;
  place-items: center;
  position: relative;
}

.nav-link--active {
  color: var(--color-primary);
}

.nav-link--active::after {
  align-self: flex-end;
  border-bottom: 0.4rem solid var(--color-primary);
  content: '';
  position: absolute;
  width: calc(100% + 2rem);
}
