.nav {
  background-color: var(--color-background-secondary);
  box-shadow: var(--shadow-normal);
  display: grid;
  height: var(--gap-extra-big);
  place-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 110;
}

.nav__list {
  display: grid;
  gap: var(--gap-big);
  grid-template-columns: repeat(4, min-content);
  height: inherit;
  list-style: none;
  place-items: center;
}

.nav__item {
  height: inherit;
}
